* { 
    box-sizing: border-box;
}
    
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f7f5f0;
}

.navbar {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 100px;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}
a {
    text-decoration: none;
    color: #999;
}
  
header {
    text-align: center;
    background: url('Images/background.jpg') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}
header {
    line-height: 1.5;
}
header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
}
.flex{
    display: flex;
    margin-left: 150px;
}
  
.tag {
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
} 
.location {
    background-color: #222;
    color: wheat;
}

.card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
    
}

.card:hover {
    border-color: #ff99ff;
}
  
ul.skills {
    padding: 0;
    text-align: center;
}
  
.skills li {
    border-radius: 6px;
    display: inline-block;
    background: #ff9904;
    color: white;
    padding: 5px 10px;
    margin: 2px;
}

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
}
footer .copyright {
    top: -8px;
    font-size: .75em;
}
  
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}
a.twitter {
    background-image: url(Images/twitter.svg);
}
a.linkedin {
    background-image: url(Images/linkedin.svg);
}
a.github {
    background-image: url(Images/github.svg);
}

#imgInterests{
    background: url('Images/hobbies.jpg') no-repeat top center ;
    background-size: cover;
    margin-left: -10px;

}
  
  